.lifts {
    select {
        width: 100%;
        margin-bottom: .5em;
    }

    .workout .lift {
        margin-bottom: .5em;
        padding-bottom: .5em;
        border-bottom: 1px solid #666;
        &:last-child {
            border-bottom: none;
        }
    }

    position: relative;
    overflow-x: hidden;
    min-height: 35em;
    .workout-card {
        transition: all .5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 1em;
        // transform: translate3d(100%,0,0);
        &.prev {
            transform: translate3d(-100%,0,0);
        }
        &.curr {
            transform: translate3d(0,0,0);
        }
        &.next {
            transform: translate3d(100%,0,0);
        }

    }
}