<div ng-include="'partials/navbar.html'"></div>

<div class="container lifts" ng-swipe-right="prevWorkout()" ng-swipe-left="nextWorkout()">


  <div class="workout-card" ng-class="{ curr: workoutIdx === 0, prev: workoutIdx >= 1}">
    <div class="well">
      <form name="form" novalidate>
        <div class="workout">
          <div class="lift" ng-repeat="tmpLift in formLifts">
            <!-- main Lifts -->
            <div class="row">
              <div class="col-sm-12">

                <select name="lift" ng-model="tmpLift.name">
                  <option value="" disabled selected>Lift</option>
                  <optgroup label="Main">
                    <option>Squat</option>
                    <option>Strict Press</option>
                    <option>Bench Press</option>
                    <option>Deadlift</option>
                  </optgroup>
                  <optgroup label="Accessory">
                    <option>Kroc Rows</option>
                    <option>Lat Pulldown</option>
                    <option>DB Rows</option>
                    <option>BB Rows</option>
                    <option>Ab Wheel</option>
                    <option>Squat</option>
                    <option>Strict Press</option>
                    <option>Bench Press</option>
                    <option>Deadlift</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <label>Weight</label>
                <input name="weight" type="number" ng-model="tmpLift.weight" />
              </div>

              <div class="col-xs-4">
                <label>Sets</label>
                <input name='sets' type="number" ng-model="tmpLift.sets" />
              </div>

              <div class="col-xs-4">
                <label>Reps</label>
                <input name="reps" type="number" ng-model="tmpLift.reps" />
              </div>
            </div>
          </div>
        </div>
        <!-- /end main lifts -->

        <div class="row btn-row">
          <div class="col-sm-12">
            <button class="btn btn-secondary" ng-click="addLift(true)">Add Lift</button>
            <!-- <button class="btn btn-secondary" ng-click="addLift(false)">Add Accessory</button> -->
            <button class="btn btn-primary" ng-click="saveLifts(form)">Submit</button>
          </div>
        </div>


      </form>
    </div>
  </div>




  <div class="workout-card" ng-repeat="workout in user.workouts" ng-class='{prev: $index + 1 <= workoutIdx - 1, curr: $index + 1 === workoutIdx  , next: $index + 1 >= workoutIdx + 1}' >
    <h5>{{workout.date | date: 'shortDate'}}</h5>
    <div ng-repeat="lift in workout.lifts">
      {{lift.name}}: {{lift.weight}} {{lift.unit}} x {{lift.sets}} x {{lift.reps}}
    </div>


  </div>


</div>
