<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Lifterly</h1>
  <p class="lead">
    Tracking lifts for bros
  </p>
</div>

<div class="row marketing">
  <h2>The mighty todo list</h2>
  <ul>
    <li>Lift history</li>
    <li>Maybe just make login work</li>
    <li>Lift entry</li>
    <li>Lift comparison with friends / those in your weight class</li>
    <li>Preset templates for Sheiko / SS / 5/3/1 / TM</li>
    <li>Export to tumblr / evernote / twitter /etc </li>
  </ul>
</div>

<div class="footer">
  <p>I ♥ dead animals</p>
</div>
