body {
  .container {
    padding: 0 2rem;
  }
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

// LOGIN FORM

.login-form {
  background: rgb(208, 208, 208);
  padding: .3rem;
  margin-bottom: 1rem;
}

.login-greeting {

  &.pure-menu {
    background: transparent;
  }

  .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-left: -25px;
  }


  button {
    margin-left: 1rem;
  }
}

// WORKOUT VIEW
.actions {
  font-size: 1rem;
  font-weight: normal;
  padding-left: .5rem;

  button {
    margin: 0 .2rem;

    &.button-xsmall {
      font-size: .3rem;
      vertical-align: bottom;
    }
  }
}


.workout {
  margin: .3rem 0;
  overflow: hidden;
  padding: .5rem 0;

  h3 {
    margin: 0 0 1em;
  }

  p {
    margin: .5rem 0 0;
  }
}


.lifts {
  overflow: hidden;
}

.lift {
  float: left;
  padding: 0 1rem;

  &:first-child {
    padding-left: 0;
  }

  h4 {
    margin-top: 0;
  }
}

// WORKOUT ENTRY FORM

.form-controls {
  padding-top: .3rem;
}

.workout-input {
  button {
    margin-right: .5rem;
  }
}


.lift-inputs {
  overflow: hidden;

  .lift-select {
    display: inline-block;
    margin-right: 1rem;
  }

}

.lift-input {
  float: left;
  padding-right: 1rem;
}


// Pure extensions

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}


.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}
