body {
  padding: 0 2rem 2rem;
}

// LOGIN FORM 

.login-form {
  padding-bottom: 1rem;
}

.login-greeting {
  button {
    margin-left: 1rem;
  }
}

// WORKOUT VIEW

.workout {
  overflow: hidden;
}

.lifts {
  overflow: hidden;
}

.lift {
  float: left;
  padding: 0 1rem;

  &:first-child {
    padding-left: 0;
  }

  h4 {
    margin-top: 0;
  }
}

// WORKOUT ENTRY FORM

.workout-input {
  button {
    margin-right: .5rem;
  }
}

.lift-inputs {
  overflow: hidden;
}

.lift-input {
  float: left;
  padding-right: 1rem;
}
